@page
@model RazorPagesMovie.Pages.Options.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Option</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Option.IdGoods)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Option.IdGoods)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Option.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Option.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Option.Use)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Option.Use)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Option.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
